In [1]:
import pandas as pd

data = {
    '縣市': ['台北','台北','台北', '新竹', '新竹', '新竹'],
    '年份': [2000, 2001, 2002, 2001, 2002, 2003],
    '人口': [2.2, 2.5, 2.7, 1.1, 1.5, 2.0]
}

df1 = pd.DataFrame(data)
display(df1)

   縣市    年份   人口
0  台北  2000  2.2
1  台北  2001  2.5
2  台北  2002  2.7
3  新竹  2001  1.1
4  新竹  2002  1.5
5  新竹  2003  2.0

In [2]:
#多個相同索引Series,可以組成1個DataFrame
display(df1['縣市'])
display(df1['年份'])
display(df1['人口'])

0    台北
1    台北
2    台北
3    新竹
4    新竹
5    新竹
Name: 縣市, dtype: object

0    2000
1    2001
2    2002
3    2001
4    2002
5    2003
Name: 年份, dtype: int64

0    2.2
1    2.5
2    2.7
3    1.1
4    1.5
5    2.0
Name: 人口, dtype: float64

In [3]:
data = {
    '縣市': ['台北','台北','台北', '新竹', '新竹', '新竹'],
    '年份': [2000, 2001, 2002, 2001, 2002, 2003],
    '人口': [2.2, 2.5, 2.7, 1.1, 1.5, 2.0]
}
df2 = pd.DataFrame(data,columns=['年份','人口','縣市'])
df2

     年份   人口  縣市
0  2000  2.2  台北
1  2001  2.5  台北
2  2002  2.7  台北
3  2001  1.1  新竹
4  2002  1.5  新竹
5  2003  2.0  新竹

In [4]:
data = {
    '縣市': ['台北','台北','台北', '新竹', '新竹', '新竹'],
    '年份': [2000, 2001, 2002, 2001, 2002, 2003],
    '人口': [2.2, 2.5, 2.7, 1.1, 1.5, 2.0]
}
df3 = pd.DataFrame(data,columns=['縣市','人口'])
df3

   縣市   人口
0  台北  2.2
1  台北  2.5
2  台北  2.7
3  新竹  1.1
4  新竹  1.5
5  新竹  2.0

In [5]:
data = {
    '縣市': ['台北','台北','台北', '新竹', '新竹', '新竹'],
    '年份': [2000, 2001, 2002, 2001, 2002, 2003],
    '人口': [2.2, 2.5, 2.7, 1.1, 1.5, 2.0]
}

df4 = pd.DataFrame(data,index=['one', 'two', 'three', 'foru', 'five', 'six'])
df4

       縣市    年份   人口
one    台北  2000  2.2
two    台北  2001  2.5
three  台北  2002  2.7
foru   新竹  2001  1.1
five   新竹  2002  1.5
six    新竹  2003  2.0

In [6]:
data = [
    {'縣市':'台北', '年份':2000, '人口': 2.2},
    {'縣市':'台中', '年份':2001, '人口': 1.1},
    {'縣市':'新竹', '年份':2001, '人口': 1.5},
]

df5 = pd.DataFrame(data)
df5

   縣市    年份   人口
0  台北  2000  2.2
1  台中  2001  1.1
2  新竹  2001  1.5

In [7]:
#2維的ndArray
import numpy as np

data = np.random.randint(50,101,size=(50,5))
scores_df = pd.DataFrame(data,columns=['國文', '英文', '數學', '地理', '歷史'],index=range(1,51))
scores_df

     國文   英文   數學   地理  歷史
1    93   96  100   75  79
2    66   59   98   94  97
3    70   73   59   65  75
4    73   59   57   65  91
5    95   50   55  100  75
6    94   82   97   52  61
7    62   82   77   89  77
8    94   60   98   81  88
9    62   55   74   67  53
10   55   91   66   52  66
11   57   58   82   58  55
12   68   71   74   80  51
13   75   74   78   84  76
14   92   82   66   78  95
15   60   80   88   61  61
16   61   88   88   83  51
17   69   63   86   65  84
18   89   83   65   94  92
19   56   55   70   59  96
20   97   85   92   87  79
21   61   83   92   91  76
22   81   59   77   92  63
23   51   67   78   98  53
24   79   88   95   52  83
25   92   50   56   98  66
26   88   95   86   77  98
27   89   91   70   50  92
28   76   93   74   60  60
29   66   89   90  100  60
30   73   65   62   76  64
31   96   96   65   88  57
32   82   99  100   50  76
33   67   97   84   88  53
34   58   72   59   72  51
35   84  100   96   80  63
36   71   93   79   88  85
37  100   52   83   79  97
38   61   53   94   85  75
39   82   90   99   60  60
40   66   95   97   65  91
41   66   93   79   54  89
42   63   67   79   90  86
43   55   65   78   77  86
44   67   92   73   69  50
45   66   97   79   96  72
46   97   79   96   74  50
47   86   93   82   70  75
48   85   51   70   90  71
49   52   60   99   90  96
50   77   86   70   79  78

In [8]:
total_series = scores_df['國文'] + scores_df['數學'] + scores_df['英文'] + scores_df['地理'] + scores_df['歷史']
display(total_series)
display(scores_df)
scores_df['總分'] = total_series
display(scores_df)
scores_df['平均'] = total_series / 5.0
display(scores_df)

1     443
2     414
3     342
4     345
5     375
6     386
7     387
8     421
9     311
10    330
11    310
12    344
13    387
14    413
15    350
16    371
17    367
18    423
19    336
20    440
21    403
22    372
23    347
24    397
25    362
26    444
27    392
28    363
29    405
30    340
31    402
32    407
33    389
34    312
35    423
36    416
37    411
38    368
39    391
40    414
41    381
42    385
43    361
44    351
45    410
46    396
47    406
48    367
49    397
50    390
dtype: int64

     國文   英文   數學   地理  歷史
1    93   96  100   75  79
2    66   59   98   94  97
3    70   73   59   65  75
4    73   59   57   65  91
5    95   50   55  100  75
6    94   82   97   52  61
7    62   82   77   89  77
8    94   60   98   81  88
9    62   55   74   67  53
10   55   91   66   52  66
11   57   58   82   58  55
12   68   71   74   80  51
13   75   74   78   84  76
14   92   82   66   78  95
15   60   80   88   61  61
16   61   88   88   83  51
17   69   63   86   65  84
18   89   83   65   94  92
19   56   55   70   59  96
20   97   85   92   87  79
21   61   83   92   91  76
22   81   59   77   92  63
23   51   67   78   98  53
24   79   88   95   52  83
25   92   50   56   98  66
26   88   95   86   77  98
27   89   91   70   50  92
28   76   93   74   60  60
29   66   89   90  100  60
30   73   65   62   76  64
31   96   96   65   88  57
32   82   99  100   50  76
33   67   97   84   88  53
34   58   72   59   72  51
35   84  100   96   80  63
36   71   93   79   88  85
37  100   52   83   79  97
38   61   53   94   85  75
39   82   90   99   60  60
40   66   95   97   65  91
41   66   93   79   54  89
42   63   67   79   90  86
43   55   65   78   77  86
44   67   92   73   69  50
45   66   97   79   96  72
46   97   79   96   74  50
47   86   93   82   70  75
48   85   51   70   90  71
49   52   60   99   90  96
50   77   86   70   79  78

     國文   英文   數學   地理  歷史   總分
1    93   96  100   75  79  443
2    66   59   98   94  97  414
3    70   73   59   65  75  342
4    73   59   57   65  91  345
5    95   50   55  100  75  375
6    94   82   97   52  61  386
7    62   82   77   89  77  387
8    94   60   98   81  88  421
9    62   55   74   67  53  311
10   55   91   66   52  66  330
11   57   58   82   58  55  310
12   68   71   74   80  51  344
13   75   74   78   84  76  387
14   92   82   66   78  95  413
15   60   80   88   61  61  350
16   61   88   88   83  51  371
17   69   63   86   65  84  367
18   89   83   65   94  92  423
19   56   55   70   59  96  336
20   97   85   92   87  79  440
21   61   83   92   91  76  403
22   81   59   77   92  63  372
23   51   67   78   98  53  347
24   79   88   95   52  83  397
25   92   50   56   98  66  362
26   88   95   86   77  98  444
27   89   91   70   50  92  392
28   76   93   74   60  60  363
29   66   89   90  100  60  405
30   73   65   62   76  64  340
31   96   96   65   88  57  402
32   82   99  100   50  76  407
33   67   97   84   88  53  389
34   58   72   59   72  51  312
35   84  100   96   80  63  423
36   71   93   79   88  85  416
37  100   52   83   79  97  411
38   61   53   94   85  75  368
39   82   90   99   60  60  391
40   66   95   97   65  91  414
41   66   93   79   54  89  381
42   63   67   79   90  86  385
43   55   65   78   77  86  361
44   67   92   73   69  50  351
45   66   97   79   96  72  410
46   97   79   96   74  50  396
47   86   93   82   70  75  406
48   85   51   70   90  71  367
49   52   60   99   90  96  397
50   77   86   70   79  78  390

     國文   英文   數學   地理  歷史   總分    平均
1    93   96  100   75  79  443  88.6
2    66   59   98   94  97  414  82.8
3    70   73   59   65  75  342  68.4
4    73   59   57   65  91  345  69.0
5    95   50   55  100  75  375  75.0
6    94   82   97   52  61  386  77.2
7    62   82   77   89  77  387  77.4
8    94   60   98   81  88  421  84.2
9    62   55   74   67  53  311  62.2
10   55   91   66   52  66  330  66.0
11   57   58   82   58  55  310  62.0
12   68   71   74   80  51  344  68.8
13   75   74   78   84  76  387  77.4
14   92   82   66   78  95  413  82.6
15   60   80   88   61  61  350  70.0
16   61   88   88   83  51  371  74.2
17   69   63   86   65  84  367  73.4
18   89   83   65   94  92  423  84.6
19   56   55   70   59  96  336  67.2
20   97   85   92   87  79  440  88.0
21   61   83   92   91  76  403  80.6
22   81   59   77   92  63  372  74.4
23   51   67   78   98  53  347  69.4
24   79   88   95   52  83  397  79.4
25   92   50   56   98  66  362  72.4
26   88   95   86   77  98  444  88.8
27   89   91   70   50  92  392  78.4
28   76   93   74   60  60  363  72.6
29   66   89   90  100  60  405  81.0
30   73   65   62   76  64  340  68.0
31   96   96   65   88  57  402  80.4
32   82   99  100   50  76  407  81.4
33   67   97   84   88  53  389  77.8
34   58   72   59   72  51  312  62.4
35   84  100   96   80  63  423  84.6
36   71   93   79   88  85  416  83.2
37  100   52   83   79  97  411  82.2
38   61   53   94   85  75  368  73.6
39   82   90   99   60  60  391  78.2
40   66   95   97   65  91  414  82.8
41   66   93   79   54  89  381  76.2
42   63   67   79   90  86  385  77.0
43   55   65   78   77  86  361  72.2
44   67   92   73   69  50  351  70.2
45   66   97   79   96  72  410  82.0
46   97   79   96   74  50  396  79.2
47   86   93   82   70  75  406  81.2
48   85   51   70   90  71  367  73.4
49   52   60   99   90  96  397  79.4
50   77   86   70   79  78  390  78.0

In [9]:
#slice
scores_df.loc[1:10]

    國文  英文   數學   地理  歷史   總分    平均
1   93  96  100   75  79  443  88.6
2   66  59   98   94  97  414  82.8
3   70  73   59   65  75  342  68.4
4   73  59   57   65  91  345  69.0
5   95  50   55  100  75  375  75.0
6   94  82   97   52  61  386  77.2
7   62  82   77   89  77  387  77.4
8   94  60   98   81  88  421  84.2
9   62  55   74   67  53  311  62.2
10  55  91   66   52  66  330  66.0

In [10]:
#使用list
scores_df.loc[[1, 3, 5, 7, 9]]

   國文  英文   數學   地理  歷史   總分    平均
1  93  96  100   75  79  443  88.6
3  70  73   59   65  75  342  68.4
5  95  50   55  100  75  375  75.0
7  62  82   77   89  77  387  77.4
9  62  55   74   67  53  311  62.2

In [11]:
#前10筆
display(scores_df.iloc[:10])
#最後10筆
display(scores_df.iloc[-10:])

    國文  英文   數學   地理  歷史   總分    平均
1   93  96  100   75  79  443  88.6
2   66  59   98   94  97  414  82.8
3   70  73   59   65  75  342  68.4
4   73  59   57   65  91  345  69.0
5   95  50   55  100  75  375  75.0
6   94  82   97   52  61  386  77.2
7   62  82   77   89  77  387  77.4
8   94  60   98   81  88  421  84.2
9   62  55   74   67  53  311  62.2
10  55  91   66   52  66  330  66.0

    國文  英文  數學  地理  歷史   總分    平均
41  66  93  79  54  89  381  76.2
42  63  67  79  90  86  385  77.0
43  55  65  78  77  86  361  72.2
44  67  92  73  69  50  351  70.2
45  66  97  79  96  72  410  82.0
46  97  79  96  74  50  396  79.2
47  86  93  82  70  75  406  81.2
48  85  51  70  90  71  367  73.4
49  52  60  99  90  96  397  79.4
50  77  86  70  79  78  390  78.0

In [12]:
from requests import Response
import requests
from io import StringIO
import csv
import pandas as pd

def get_data() -> list[dict]:
    link = 'https://raw.githubusercontent.com/roberthsu2003/__2024_02_20_2_4__/main/lesson11/students.csv'
    try :
        down:Response=requests.get(link)
        
    except:
        print("Erro")
        return 1
    file:str=down.text
    b:StringIO=StringIO(file)
    cs=csv.DictReader(b)
    data:list[dict]=list(cs)
    return data
    
data:list[dict] = get_data()
pd.DataFrame(data)

   name height weight
0   李政成    207     42
1   艾巧夫    153     45
2   林昱芳    184     66
3   洪阿惠    162     58
4   陳淑萍    160     79
5   黃旻林    191     79
6   陳怡伶    191     52
7   周怡啟    216     40
8   臧怡君    192     65
9   林柏洋    214     56
10  吳淑惠    173     49
11  魏秋萍    207     62
12  葉志峰    209     63
13  尚偉倫    212     81
14  張莉雯    213     56
15  童建霖    166     43
16  馮耀中    202     53
17  彭虹屏    183     56
18  黃淑芬    164     86
19  黃善迪    169     87
20  邱亭君    218     57
21  游治旺    157     42
22  林瑞喬    197     76
23  童建霖    184     58
24  陳淑娟    171     65
25  林冠蕙    197     57
26  余月修    214     68
27  陳怡容    199     56
28  陳建豪    201     80
29  潘英迪    218     81
30  錢佩豪    191     55
31  林俊翔    207     58
32  程玫靖    178     57
33  黃婷婷    202     48
34  劉慧君    196     64
35  張俊傑    174     84
36  王人仰    171     78
37  趙宛真    217     76
38  游一鈺    204     57
39  方筠紹    207     87
40   戚亨    207     66
41  鄧哲榮    180     69
42  黃淑芬    182     49
43  趙家豪    175     40
44  李政成    215     64
45  尚偉倫    183     42
46  傅佳琳    168     64
47  蔡至剛    171     65
48  艾巧夫    193     51
49  陳彥治    151     64

In [13]:
from requests import Response
import requests
from io import StringIO
import csv
import pandas as pd

def get_data() -> list[dict]:
    link = 'https://raw.githubusercontent.com/roberthsu2003/__2024_02_20_2_4__/main/lesson11/students.csv'
    try :
        down:Response=requests.get(link)
        
    except:
        print("Erro")
        return 1
    file:str=down.text
    b:StringIO=StringIO(file)
    cs=csv.DictReader(b)
    data:list[dict]=list(cs)
    return data
    
data:list[dict] = get_data()
pd.DataFrame(data)

   name height weight
0   李政成    207     42
1   艾巧夫    153     45
2   林昱芳    184     66
3   洪阿惠    162     58
4   陳淑萍    160     79
5   黃旻林    191     79
6   陳怡伶    191     52
7   周怡啟    216     40
8   臧怡君    192     65
9   林柏洋    214     56
10  吳淑惠    173     49
11  魏秋萍    207     62
12  葉志峰    209     63
13  尚偉倫    212     81
14  張莉雯    213     56
15  童建霖    166     43
16  馮耀中    202     53
17  彭虹屏    183     56
18  黃淑芬    164     86
19  黃善迪    169     87
20  邱亭君    218     57
21  游治旺    157     42
22  林瑞喬    197     76
23  童建霖    184     58
24  陳淑娟    171     65
25  林冠蕙    197     57
26  余月修    214     68
27  陳怡容    199     56
28  陳建豪    201     80
29  潘英迪    218     81
30  錢佩豪    191     55
31  林俊翔    207     58
32  程玫靖    178     57
33  黃婷婷    202     48
34  劉慧君    196     64
35  張俊傑    174     84
36  王人仰    171     78
37  趙宛真    217     76
38  游一鈺    204     57
39  方筠紹    207     87
40   戚亨    207     66
41  鄧哲榮    180     69
42  黃淑芬    182     49
43  趙家豪    175     40
44  李政成    215     64
45  尚偉倫    183     42
46  傅佳琳    168     64
47  蔡至剛    171     65
48  艾巧夫    193     51
49  陳彥治    151     64