In [1]:
import pandas as pd
df1 = pd.read_csv('上市公司資料.csv')
df1

,出表日期,資料年月,公司代號,公司名稱,產業別,營業收入-當月營收,營業收入-上月營收,營業收入-去年當月營收,營業收入-上月比較增減(%),營業收入-去年同月增減(%),累計營業收入-當月累計營收,累計營業收入-去年累計營收,累計營業收入-前期比較增減(%),備註
0,1110912,11108,1102,亞泥,水泥工業,7069221,7864622,7193266,-10.113658,-1.724460,59102719,54657145,8.133564,-
1,1110912,11108,1108,幸福,水泥工業,390053,326691,249977,19.395086,56.035555,2599544,2635052,-1.347526,去年同期本公司石材減產，致本月與去年同期相較增加50%以上。
2,1110912,11108,1109,信大,水泥工業,478276,557403,591358,-14.195654,-19.122427,4040555,4781224,-15.491201,-
3,1110912,11108,1110,東泥,水泥工業,176935,134470,109276,31.579534,61.915700,1073546,1203643,-10.808604,主要係母公司東南水泥股份有限公司以及子公司東南高良資源再生股份有限公司銷貨收入較去年同期增加
4,1110912,11108,1213,大飲,食品工業,38696,29503,42312,31.159543,-8.546039,266205,299920,-11.241331,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
834,1110912,11108,9942,茂順,其他,352730,349111,336002,1.036633,4.978542,2601215,2512658,3.524435,-
835,1110912,11108,9943,好樂迪,觀光事業,212912,197756,5090,7.663990,4082.946955,1465862,1062550,37.956990,110年5月15日起配合防疫政策，暫停營業
836,1110912,11108,9944,新麗,其他,179660,231139,178668,-22.271880,0.555220,1877352,1848775,1.545726,-
837,1110912,11108,9955,佳龍,其他,81881,85625,109319,-4.372555,-25.099022,826811,994253,-16.840985,-
838,1110912,11108,9958,世紀鋼,鋼鐵工業,757968,651699,1073536,16.306454,-29.395195,5374177,6195141,-13.251740,-

In [2]:
#使用subscript
df1[['出表日期','資料年月','公司代號']]

        出表日期   資料年月  公司代號
0    1110912  11108  1102
1    1110912  11108  1108
2    1110912  11108  1109
3    1110912  11108  1110
4    1110912  11108  1213
..       ...    ...   ...
834  1110912  11108  9942
835  1110912  11108  9943
836  1110912  11108  9944
837  1110912  11108  9955
838  1110912  11108  9958

[839 rows x 3 columns]

In [3]:
#reindex()
df2 = df1.reindex(columns=['出表日期','資料年月','公司代號','公司名稱','產業別','營業收入-當月營收'])
df2

        出表日期   資料年月  公司代號 公司名稱   產業別  營業收入-當月營收
0    1110912  11108  1102   亞泥  水泥工業    7069221
1    1110912  11108  1108   幸福  水泥工業     390053
2    1110912  11108  1109   信大  水泥工業     478276
3    1110912  11108  1110   東泥  水泥工業     176935
4    1110912  11108  1213   大飲  食品工業      38696
..       ...    ...   ...  ...   ...        ...
834  1110912  11108  9942   茂順    其他     352730
835  1110912  11108  9943  好樂迪  觀光事業     212912
836  1110912  11108  9944   新麗    其他     179660
837  1110912  11108  9955   佳龍    其他      81881
838  1110912  11108  9958  世紀鋼  鋼鐵工業     757968

[839 rows x 6 columns]

In [4]:
df2.index = df2['公司代號']
df2

         出表日期   資料年月  公司代號 公司名稱   產業別  營業收入-當月營收
公司代號
1102  1110912  11108  1102   亞泥  水泥工業    7069221
1108  1110912  11108  1108   幸福  水泥工業     390053
1109  1110912  11108  1109   信大  水泥工業     478276
1110  1110912  11108  1110   東泥  水泥工業     176935
1213  1110912  11108  1213   大飲  食品工業      38696
...       ...    ...   ...  ...   ...        ...
9942  1110912  11108  9942   茂順    其他     352730
9943  1110912  11108  9943  好樂迪  觀光事業     212912
9944  1110912  11108  9944   新麗    其他     179660
9955  1110912  11108  9955   佳龍    其他      81881
9958  1110912  11108  9958  世紀鋼  鋼鐵工業     757968

[839 rows x 6 columns]

In [5]:
df3 = df2.drop(columns=['公司代號'])
df3

         出表日期   資料年月 公司名稱   產業別  營業收入-當月營收
公司代號
1102  1110912  11108   亞泥  水泥工業    7069221
1108  1110912  11108   幸福  水泥工業     390053
1109  1110912  11108   信大  水泥工業     478276
1110  1110912  11108   東泥  水泥工業     176935
1213  1110912  11108   大飲  食品工業      38696
...       ...    ...  ...   ...        ...
9942  1110912  11108   茂順    其他     352730
9943  1110912  11108  好樂迪  觀光事業     212912
9944  1110912  11108   新麗    其他     179660
9955  1110912  11108   佳龍    其他      81881
9958  1110912  11108  世紀鋼  鋼鐵工業     757968

[839 rows x 5 columns]

In [6]:
df3.loc[1102]

出表日期         1110912
資料年月           11108
公司名稱              亞泥
產業別             水泥工業
營業收入-當月營收    7069221
Name: 1102, dtype: object

In [7]:
#slice
df3.loc[1102:1213]

         出表日期   資料年月 公司名稱   產業別  營業收入-當月營收
公司代號
1102  1110912  11108   亞泥  水泥工業    7069221
1108  1110912  11108   幸福  水泥工業     390053
1109  1110912  11108   信大  水泥工業     478276
1110  1110912  11108   東泥  水泥工業     176935
1213  1110912  11108   大飲  食品工業      38696

In [8]:
display(df3.iloc[:10])
display(df3.iloc[-10:])

         出表日期   資料年月 公司名稱   產業別  營業收入-當月營收
公司代號
1102  1110912  11108   亞泥  水泥工業    7069221
1108  1110912  11108   幸福  水泥工業     390053
1109  1110912  11108   信大  水泥工業     478276
1110  1110912  11108   東泥  水泥工業     176935
1213  1110912  11108   大飲  食品工業      38696
1215  1110912  11108   卜蜂  食品工業    2393814
1218  1110912  11108   泰山  食品工業    1054476
1219  1110912  11108   福壽  食品工業    1352250
1220  1110912  11108   台榮  食品工業     314062
1225  1110912  11108  福懋油  食品工業    1333748

         出表日期   資料年月 公司名稱    產業別  營業收入-當月營收
公司代號
9937  1110912  11108   全國  油電燃氣業    2173347
9938  1110912  11108   百和     其他    1476959
9939  1110912  11108   宏全     其他    2598183
9940  1110912  11108   信義     其他     919977
9941  1110912  11108   裕融     其他    3201093
9942  1110912  11108   茂順     其他     352730
9943  1110912  11108  好樂迪   觀光事業     212912
9944  1110912  11108   新麗     其他     179660
9955  1110912  11108   佳龍     其他      81881
9958  1110912  11108  世紀鋼   鋼鐵工業     757968

In [9]:
#對值的搜尋
df3[df3['產業別'] == '食品工業']

         出表日期   資料年月     公司名稱   產業別  營業收入-當月營收
公司代號
1213  1110912  11108       大飲  食品工業      38696
1215  1110912  11108       卜蜂  食品工業    2393814
1218  1110912  11108       泰山  食品工業    1054476
1219  1110912  11108       福壽  食品工業    1352250
1220  1110912  11108       台榮  食品工業     314062
1225  1110912  11108      福懋油  食品工業    1333748
1227  1110912  11108       佳格  食品工業    2686715
1229  1110912  11108       聯華  食品工業     831107
1231  1110912  11108      聯華食  食品工業     976319
1232  1110912  11108      大統益  食品工業    2186695
1233  1110912  11108       天仁  食品工業     173566
1234  1110912  11108       黑松  食品工業    1074526
1235  1110912  11108       興泰  食品工業       6974
1236  1110912  11108       宏亞  食品工業     221454
1256  1110912  11108  鮮活果汁-KY  食品工業     581403
1737  1110912  11108       臺鹽  食品工業     334505

In [10]:
#python資料結構
items = set()
for item in df3['產業別']:
    items.add(item)
list(items)

['化學工業',
 '電腦及週邊設備業',
 '食品工業',
 '觀光事業',
 '塑膠工業',
 '紡織纖維',
 '水泥工業',
 '光電業',
 '生技醫療業',
 '資訊服務業',
 '油電燃氣業',
 '航運業',
 '電機機械',
 '造紙工業',
 '電子零組件業',
 '玻璃陶瓷',
 '汽車工業',
 '其他電子業',
 '橡膠工業',
 '貿易百貨',
 '鋼鐵工業',
 '電器電纜',
 '通信網路業',
 '其他',
 '半導體業',
 '建材營造',
 '電子通路業',
 '金融保險業']

In [11]:
#轉成list
df3['產業別'].drop_duplicates().to_list()

['水泥工業',
 '食品工業',
 '塑膠工業',
 '汽車工業',
 '其他',
 '紡織纖維',
 '建材營造',
 '電子零組件業',
 '電機機械',
 '生技醫療業',
 '電器電纜',
 '化學工業',
 '玻璃陶瓷',
 '造紙工業',
 '鋼鐵工業',
 '橡膠工業',
 '電腦及週邊設備業',
 '半導體業',
 '其他電子業',
 '通信網路業',
 '光電業',
 '電子通路業',
 '資訊服務業',
 '貿易百貨',
 '航運業',
 '油電燃氣業',
 '觀光事業',
 '金融保險業']

In [12]:
df3['產業別'].values

array(['水泥工業', '水泥工業', '水泥工業', '水泥工業', '食品工業', '食品工業', '食品工業', '食品工業',
       '食品工業', '食品工業', '食品工業', '食品工業', '食品工業', '食品工業', '食品工業', '食品工業',
       '食品工業', '食品工業', '食品工業', '塑膠工業', '塑膠工業', '塑膠工業', '塑膠工業', '塑膠工業',
       '塑膠工業', '塑膠工業', '塑膠工業', '塑膠工業', '塑膠工業', '塑膠工業', '汽車工業', '塑膠工業',
       '塑膠工業', '塑膠工業', '塑膠工業', '塑膠工業', '汽車工業', '汽車工業', '塑膠工業', '塑膠工業',
       '其他', '紡織纖維', '紡織纖維', '紡織纖維', '紡織纖維', '紡織纖維', '紡織纖維', '紡織纖維',
       '紡織纖維', '其他', '建材營造', '其他', '建材營造', '紡織纖維', '紡織纖維', '建材營造', '其他',
       '紡織纖維', '紡織纖維', '紡織纖維', '紡織纖維', '紡織纖維', '紡織纖維', '紡織纖維', '建材營造',
       '紡織纖維', '紡織纖維', '建材營造', '紡織纖維', '紡織纖維', '紡織纖維', '紡織纖維', '紡織纖維',
       '紡織纖維', '紡織纖維', '紡織纖維', '紡織纖維', '電子零組件業', '紡織纖維', '紡織纖維', '紡織纖維',
       '紡織纖維', '紡織纖維', '電機機械', '電機機械', '汽車工業', '電機機械', '電機機械', '電機機械',
       '其他', '汽車工業', '汽車工業', '汽車工業', '汽車工業', '電機機械', '電機機械', '電機機械',
       '電機機械', '電機機械', '電機機械', '電機機械', '汽車工業', '電機機械', '汽車工業', '電機機械',
       '電機機械', '電機機械', '電機機械', '電機機械', '電機機械', '汽車工業', '電子零組件業', '電機機械',
       '汽車工業', '電機機械', '電機機械', '電機機械', '生技醫療業', '電器電纜', '電器電纜', '電器電纜',
       '電器電纜', '電器電纜', '電器電纜', '電器電纜', '電器電纜', '電器電纜', '電器電纜', '電器電纜',
       '生技醫療業', '化學工業', '化學工業', '化學工業', '化學工業', '化學工業', '化學工業', '化學工業',
       '化學工業', '化學工業', '生技醫療業', '化學工業', '化學工業', '化學工業', '化學工業', '化學工業',
       '化學工業', '生技醫療業', '生技醫療業', '生技醫療業', '化學工業', '生技醫療業', '食品工業',
       '生技醫療業', '生技醫療業', '生技醫療業', '化學工業', '化學工業', '生技醫療業', '生技醫療業',
       '生技醫療業', '生技醫療業', '玻璃陶瓷', '建材營造', '玻璃陶瓷', '建材營造', '玻璃陶瓷', '玻璃陶瓷',
       '造紙工業', '造紙工業', '造紙工業', '造紙工業', '造紙工業', '造紙工業', '鋼鐵工業', '鋼鐵工業',
       '鋼鐵工業', '鋼鐵工業', '鋼鐵工業', '鋼鐵工業', '鋼鐵工業', '鋼鐵工業', '鋼鐵工業', '鋼鐵工業',
       '鋼鐵工業', '鋼鐵工業', '鋼鐵工業', '鋼鐵工業', '鋼鐵工業', '鋼鐵工業', '鋼鐵工業', '鋼鐵工業',
       '鋼鐵工業', '鋼鐵工業', '電機機械', '電子零組件業', '其他', '鋼鐵工業', '橡膠工業', '橡膠工業',
       '橡膠工業', '橡膠工業', '橡膠工業', '橡膠工業', '橡膠工業', '橡膠工業', '汽車工業', '汽車工業',
       '汽車工業', '汽車工業', '鋼鐵工業', '汽車工業', '汽車工業', '汽車工業', '汽車工業', '汽車工業',
       '汽車工業', '汽車工業', '電腦及週邊設備業', '半導體業', '半導體業', '電腦及週邊設備業', '其他電子業',
       '電子零組件業', '通信網路業', '電子零組件業', '其他電子業', '光電業', '電腦及週邊設備業', '電子零組件業',
       '電子零組件業', '半導體業', '半導體業', '電腦及週邊設備業', '通信網路業', '半導體業', '半導體業',
       '半導體業', '半導體業', '半導體業', '通信網路業', '電子通路業', '其他', '光電業', '半導體業',
       '電腦及週邊設備業', '電腦及週邊設備業', '其他電子業', '電子零組件業', '電腦及週邊設備業', '電腦及週邊設備業',
       '其他', '其他電子業', '其他電子業', '電腦及週邊設備業', '半導體業', '電腦及週邊設備業', '電腦及週邊設備業',
       '電子零組件業', '電子零組件業', '半導體業', '其他電子業', '光電業', '電子零組件業', '電腦及週邊設備業',
       '電腦及週邊設備業', '半導體業', '電腦及週邊設備業', '電腦及週邊設備業', '電子零組件業', '電子零組件業',
       '電腦及週邊設備業', '半導體業', '其他電子業', '電子零組件業', '光電業', '電腦及週邊設備業',
       '電腦及週邊設備業', '電子零組件業', '電腦及週邊設備業', '半導體業', '光電業', '電子零組件業', '電子通路業',
       '電子零組件業', '電腦及週邊設備業', '通信網路業', '電子零組件業', '其他電子業', '電腦及週邊設備業',
       '電腦及週邊設備業', '資訊服務業', '電子零組件業', '光電業', '電子通路業', '電子零組件業', '其他電子業',
       '半導體業', '半導體業', '光電業', '通信網路業', '電子零組件業', '半導體業', '電腦及週邊設備業',
       '通信網路業', '半導體業', '通信網路業', '半導體業', '資訊服務業', '半導體業', '通信網路業',
       '電子零組件業', '半導體業', '其他電子業', '電子零組件業', '其他電子業', '其他電子業', '電腦及週邊設備業',
       '電子零組件業', '資訊服務業', '電子零組件業', '其他電子業', '電子零組件業', '其他電子業', '電子零組件業',
       '資訊服務業', '半導體業', '其他電子業', '電子零組件業', '電子零組件業', '通信網路業', '光電業',
       '其他電子業', '光電業', '電子零組件業', '電子零組件業', '電腦及週邊設備業', '汽車工業', '通信網路業',
       '建材營造', '建材營造', '建材營造', '建材營造', '建材營造', '其他', '建材營造', '建材營造',
       '建材營造', '建材營造', '建材營造', '建材營造', '建材營造', '建材營造', '建材營造', '建材營造',
       '建材營造', '建材營造', '建材營造', '建材營造', '建材營造', '建材營造', '建材營造', '建材營造',
       '建材營造', '建材營造', '貿易百貨', '航運業', '航運業', '航運業', '航運業', '航運業', '航運業',
       '航運業', '航運業', '航運業', '油電燃氣業', '航運業', '航運業', '航運業', '航運業', '航運業',
       '航運業', '航運業', '航運業', '觀光事業', '觀光事業', '觀光事業', '觀光事業', '觀光事業',
       '觀光事業', '觀光事業', '觀光事業', '觀光事業', '觀光事業', '金融保險業', '金融保險業', '金融保險業',
       '金融保險業', '金融保險業', '金融保險業', '金融保險業', '金融保險業', '金融保險業', '金融保險業',
       '金融保險業', '金融保險業', '金融保險業', '金融保險業', '金融保險業', '金融保險業', '金融保險業',
       '金融保險業', '金融保險業', '金融保險業', '金融保險業', '金融保險業', '金融保險業', '貿易百貨', '其他',
       '貿易百貨', '貿易百貨', '電腦及週邊設備業', '鋼鐵工業', '電腦及週邊設備業', '半導體業', '光電業',
       '電子通路業', '電子零組件業', '電腦及週邊設備業', '半導體業', '電子零組件業', '半導體業',
       '電腦及週邊設備業', '光電業', '電子零組件業', '電腦及週邊設備業', '電子零組件業', '光電業', '通信網路業',
       '電子零組件業', '通信網路業', '電子通路業', '資訊服務業', '其他電子業', '光電業', '電子通路業',
       '半導體業', '半導體業', '電子通路業', '電子零組件業', '光電業', '其他', '半導體業', '電子零組件業',
       '其他電子業', '電子零組件業', '電腦及週邊設備業', '通信網路業', '電子通路業', '光電業', '光電業',
       '光電業', '半導體業', '電子通路業', '建材營造', '電腦及週邊設備業', '電子零組件業', '光電業',
       '電腦及週邊設備業', '通信網路業', '電子零組件業', '電子零組件業', '半導體業', '資訊服務業', '通信網路業',
       '光電業', '生技醫療業', '電機機械', '半導體業', '電子通路業', '電子零組件業', '電腦及週邊設備業',
       '半導體業', '建材營造', '電子零組件業', '其他電子業', '電子零組件業', '通信網路業', '電子通路業',
       '電子零組件業', '電子零組件業', '光電業', '電子零組件業', '通信網路業', '光電業', '光電業', '半導體業',
       '電腦及週邊設備業', '通信網路業', '電子零組件業', '光電業', '半導體業', '半導體業', '光電業', '光電業',
       '電腦及週邊設備業', '電子零組件業', '光電業', '電腦及週邊設備業', '其他電子業', '電子通路業', '半導體業',
       '半導體業', '電子零組件業', '光電業', '半導體業', '光電業', '半導體業', '電子零組件業', '其他',
       '光電業', '光電業', '半導體業', '半導體業', '光電業', '半導體業', '電子零組件業', '通信網路業',
       '電子零組件業', '其他電子業', '光電業', '電子零組件業', '電子零組件業', '半導體業', '其他電子業',
       '通信網路業', '光電業', '電子零組件業', '通信網路業', '半導體業', '通信網路業', '生技醫療業',
       '電腦及週邊設備業', '化學工業', '電腦及週邊設備業', '光電業', '電子零組件業', '生技醫療業', '生技醫療業',
       '生技醫療業', '生技醫療業', '生技醫療業', '生技醫療業', '生技醫療業', '生技醫療業', '紡織纖維',
       '紡織纖維', '紡織纖維', '紡織纖維', '電機機械', '其他', '電機機械', '電子零組件業', '汽車工業',
       '電機機械', '電機機械', '汽車工業', '電機機械', '電機機械', '電機機械', '電機機械', '電機機械',
       '電機機械', '電機機械', '汽車工業', '電機機械', '化學工業', '化學工業', '生技醫療業', '化學工業',
       '生技醫療業', '化學工業', '化學工業', '化學工業', '化學工業', '化學工業', '通信網路業', '電子零組件業',
       '電子零組件業', '電腦及週邊設備業', '半導體業', '電子零組件業', '電器電纜', '光電業', '光電業',
       '電腦及週邊設備業', '光電業', '半導體業', '光電業', '電子零組件業', '光電業', '半導體業', '半導體業',
       '半導體業', '光電業', '通信網路業', '電子零組件業', '資訊服務業', '電子零組件業', '鋼鐵工業',
       '資訊服務業', '電腦及週邊設備業', '半導體業', '其他電子業', '光電業', '光電業', '光電業',
       '電腦及週邊設備業', '半導體業', '其他', '半導體業', '通信網路業', '電子通路業', '電子零組件業',
       '半導體業', '建材營造', '建材營造', '建材營造', '建材營造', '建材營造', '建材營造', '建材營造',
       '建材營造', '鋼鐵工業', '航運業', '航運業', '其他', '金融保險業', '金融保險業', '貿易百貨',
       '貿易百貨', '金融保險業', '金融保險業', '資訊服務業', '電子零組件業', '光電業', '電腦及週邊設備業',
       '光電業', '電腦及週邊設備業', '電子零組件業', '通信網路業', '其他電子業', '電子零組件業', '通信網路業',
       '通信網路業', '電子零組件業', '電子零組件業', '光電業', '其他', '電腦及週邊設備業', '光電業',
       '建材營造', '資訊服務業', '其他', '電子零組件業', '其他電子業', '其他電子業', '電子零組件業',
       '其他電子業', '半導體業', '電子零組件業', '光電業', '電子零組件業', '資訊服務業', '其他電子業',
       '通信網路業', '光電業', '光電業', '電腦及週邊設備業', '電腦及週邊設備業', '半導體業', '半導體業',
       '半導體業', '電子零組件業', '半導體業', '電腦及週邊設備業', '光電業', '電子通路業', '電子零組件業',
       '通信網路業', '汽車工業', '光電業', '光電業', '其他電子業', '電子零組件業', '電腦及週邊設備業',
       '半導體業', '通信網路業', '通信網路業', '生技醫療業', '其他電子業', '通信網路業', '光電業',
       '電子零組件業', '半導體業', '光電業', '其他', '光電業', '生技醫療業', '其他', '油電燃氣業',
       '半導體業', '半導體業', '半導體業', '半導體業', '生技醫療業', '生技醫療業', '半導體業', '其他電子業',
       '電腦及週邊設備業', '其他', '橡膠工業', '其他', '電腦及週邊設備業', '其他', '生技醫療業', '汽車工業',
       '其他', '其他', '其他', '生技醫療業', '光電業', '電腦及週邊設備業', '其他', '其他', '電子零組件業',
       '通信網路業', '其他電子業', '其他電子業', '光電業', '電子零組件業', '半導體業', '其他電子業', '其他',
       '半導體業', '其他', '半導體業', '電子通路業', '電子零組件業', '半導體業', '造紙工業', '通信網路業',
       '生技醫療業', '半導體業', '其他', '其他', '其他電子業', '電子零組件業', '半導體業', '通信網路業',
       '半導體業', '其他電子業', '半導體業', '其他', '電子零組件業', '電子零組件業', '電子通路業',
       '電子通路業', '半導體業', '通信網路業', '電子零組件業', '光電業', '光電業', '半導體業', '電子通路業',
       '電腦及週邊設備業', '半導體業', '半導體業', '電腦及週邊設備業', '其他電子業', '電腦及週邊設備業',
       '電子零組件業', '光電業', '電機機械', '電子零組件業', '半導體業', '半導體業', '其他', '航運業',
       '電機機械', '其他', '其他', '其他', '貿易百貨', '其他', '其他', '貿易百貨', '觀光事業', '其他',
       '其他', '其他', '其他', '其他', '其他', '其他', '其他', '油電燃氣業', '觀光事業', '電機機械',
       '其他', '其他', '其他', '建材營造', '其他', '其他', '其他', '電腦及週邊設備業', '其他', '其他',
       '油電燃氣業', '其他', '其他', '油電燃氣業', '其他', '其他', '其他', '其他', '油電燃氣業',
       '其他', '其他', '油電燃氣業', '其他', '其他', '其他', '其他', '其他', '觀光事業', '其他',
       '其他', '鋼鐵工業'], dtype=object)

In [13]:
#ndarray選取方法
display(df3.values[0,0])
display(df3.values[0,[0,1]])
display(df3.values[0,:])
display(df3.values[:5,:])

1110912

array([1110912, 11108], dtype=object)

array([1110912, 11108, '亞泥', '水泥工業', 7069221], dtype=object)

array([[1110912, 11108, '亞泥', '水泥工業', 7069221],
       [1110912, 11108, '幸福', '水泥工業', 390053],
       [1110912, 11108, '信大', '水泥工業', 478276],
       [1110912, 11108, '東泥', '水泥工業', 176935],
       [1110912, 11108, '大飲', '食品工業', 38696]], dtype=object)